<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
       <cyber-titulo v-bind:titulo = "meuTitulo"></cyber-titulo>
       <input type="text" v-model = "meuTitulo">
       <cyber-tabela v-bind:titulos="['Titulo', 'Descrição' , 'link']" v-bind:registros="registros"></cyber-tabela>

       

    </div>
    <script type="text/javascript">
    Vue.component('cyber-titulo', {
        props:['titulo'],
        template:'<h2>{{titulo}}</h2>'
       
    });
    Vue.component('cyber-tabela', {
        props:['registros', 'titulos'],
        template:'<table style="width: 100%;">'+
           '<thead>'+
                '<tr>'+
                ' <th v-for="titulo in titulos">{{titulo}}</th>'+
                
                 ' </tr>'+
           ' </thead>'+
            ' <tbody>'+
                   ' <tr v-for="registro in registros">'+
                        '<td v-for="item in registro">{{item}}</td>'+
                        
                    '</tr>'+
                '</tbody>'+
            '</table>'
       
    });
        var app = new Vue({
            el: "#app",
            data:{
                meuTitulo:"Este é meu novo titulo", 
                registros:[
                    {titulo:'Titulo 1', descricao:'Cyberschool', link:"tecinova.net"},
                    {titulo:'Titulo 2', descricao:'Cyberschool 2', link:"tecinova.net 1"},
                    {titulo:'Titulo 3', descricao:'Cyberschool 3', link:"tecinova.net"},
                    {titulo:'Titulo 4', descricao:'Cyberschool 4', link:"tecinova.net"}
                ]
            }
        });
    </script>
</body>
</html>