<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--  
        Aula 14 - Formularios - text e textarea
        bom para se utilizar dos formularios é bem simples, podemos simplesmente adicionar nossos inputs, adicionar as variaveis e usa o v-model para realizar aqui a manipulação das nossas infomações
    -->
    <div id="app">
       <cyber-titulo titulo = "Formulários"> </cyber-titulo>
        <p>Texto: {{texto}}</p>
        <p>
            <input type="text" v-model="texto">
        </p>
        <p>Textarea: {{textarea}}</p>
        <p style="white-space: pre-line;"> {{textarea}}</p>
        <p>
            <textarea type="text" rows="8" cols="88" v-model="textarea"></textarea>
        </p>
       <!--  
        Aula 15 - Formularios - CheckBox
        Vamos agora utilizar o checkbox, para ele funcionar com vue, adicionamos a variavel, e podemos defini-lo como verdadeiro ou falso.
        -->
        <p>Checkbox:</p>
        <input type="checkbox" name="aceita" id="aceita" v-model="termos">
        <label for="aceita">{{termos}}</label>

        <!--  
        Aula 16 - Formularios - Multiple CheckBox
        agora vamos trabalhar com multiplos checkbox, o usuario pode selecionar varios registros, para isso vamos utilizar um array.
        -->
        <p>Multiple Checkbox: {{notificacoes}}</p>
        <p>
            <input type="checkbox" name="receberEmail" id="receberEmail" value="email" v-model="notificacoes">
            <label for="receberEmail"> Receber E-mail</label>

            <input type="checkbox" name="receberSms" id="receberSms" value="sms" v-model="notificacoes">
            <label for="receberSms"> Receber SMS</label>

            <input type="checkbox" name="receberTelefone" id="receberTelefone" value="tel" v-model="notificacoes">
            <label for="receberTelefone"> Receber Ligação</label>

        </p>
        
        <!--  
        Aula 17 - Formularios - Radios
        agora vamos trabalhar com Radios, 
        -->
       <p>Radio: {{sexo}}</p>
       <p>
           <input type="radio" name="masculino" id="masculino" value="M" v-model="sexo">
           <label for="masculino">Masculino</label>
           <input type="radio" name="feminino" id="feminino" value="F" v-model="sexo">
           <label for="feminino">Feminino</label>
       </p>

    </div>
    <script type="text/javascript">
    Vue.component('cyber-titulo', {
        props:['titulo'],
        template:`<h2>{{titulo}}</h2>`
       
    });
    
        var app = new Vue({
            el: "#app",
            data:{
                texto:'',
                textarea:'',
                termos:true,
                notificacoes: [],
                sexo: null,
               
            }, 
           
        });
    </script>
</body>
</html>